* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
    }
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--PrimaryContrast);
	--Primary: #e51010; 
	--PrimaryDark: #ac0101; 
	--PrimaryContrast: white;
	--Dark: #090909;
	--DarkRed: #290909;
	--SoftDarkContrast: #eee;
	--SoftDark: #111;
	--SoftDarkRed: #211;
    --Link:#1aefef;
}
::-webkit-scrollbar {
    width: 20px;
    background:var(--SoftDark)
}

::-webkit-scrollbar-thumb {
    transition: background 0.1s 10s linear;
    background: var(--Primary);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--PrimaryDark);
}


a{ 
    color: inherit;  
    width: auto;
    text-decoration: inherit; 
    &:hover *, &:hover{
        color:var(--Link); 
    }
} 
h1{
    font-size: 2em;
}
h2{
    font-size: 1.7em;
    color: var(--SoftDarkContrast);
    margin: 1em 0 0.5em 0   ;
    padding-bottom:0.2em;
    border-bottom: var(--Primary) 2px solid;
}
h4{
    font-size: 1.1em;
}
input{
    background-color: transparent;
}
input[type="text"]{
    padding: 0.1em 1em;
    color: var(--SoftDarkContrast);
    width: fit-content;
    border-radius: 2em;
    border: 2px solid var(--Primary);
}
button{
    background-color: var(--Primary);
    color: var(--SoftDarkContrast);
    border: none;
    padding: 0.1em 1em;
    border-radius: 2em;
    &:hover{
        background-color: var(--PrimaryDark);
        cursor: pointer;
    }
}
select{
    background-color: transparent;
    color: inherit;
    border: solid 2px var(--Primary);
    padding: 0.2em 0.5em ;
    border-radius: 3px; 
}
option{
    background-color: var(--Dark);    
}
 
body {
	background-color: var(--SoftDarkRed);
}
header {
	top: 0;
	position: sticky;
	z-index: 4;
	background-color: var(--Dark);
	width: 100%;
	section {
        max-width: 1000px; 
		margin: auto;
		padding: 15px 30px;
		display: flex;
		justify-content: space-between;
        align-items: center;
		img,figure {
			height: 50px;  
            width: 135px;
		} 
        figure{
            margin: 0;
        }
	}
}
#SearchBar {
	display: flex;
	border: var(--Primary) solid;
	border-radius: 30px;

	input[type="search"] {
        background-color: transparent;
		color: var(--SoftDarkContrast);
		box-sizing: content-box; 
        max-width: 0;        
        width: 100%;
        font-size: 1rem;
		border: 0;
        transition: max-width 0.2s linear; 
		&::-webkit-search-cancel-button {
			display: none;
		} 
	} 
    &:hover input[type="search"], input[type="search"]:focus{
            padding: 0.4rem 1rem;
            max-width: 150px;
    }
	.material-icons {
		color: var(--SoftDarkContrast);
		padding: 0.3rem; 
        cursor: pointer;
        background: transparent;    
        border: none;
        border-radius:3em;
        &:hover{
            background-color: rgba(255,255,255,0.1);
        }
	}
}
main {
	background-color: var(--SoftDark);
    padding: 30px;
	max-width: 1000px;
	min-height: 100vh;
	margin: auto;
}
#SecSeries{
    color: var(--SoftDarkContrast);
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

#CapaSerie{
    border-radius: 10px;
    display: flex; 
    flex-wrap: wrap;
    
	img{
        height: 100%;
        width: 100%;
        object-fit: cover; 
    }
    figure{ 
        height: 340px; 
        width: calc( 100% - 340px ); 
    }
	
    .Descricao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--Primary); 
        width: 340px;
        height: 340px;
        text-align: center;
        h1{
            margin-bottom: 1em;
        }
        p{
            margin: 3px;
            font-size: 1.1em;
        }
    }
}
#NavMenu{
    background-color: var(--Dark);  
    padding:5px;
    a{
        font-size: 1.2em;
        padding: 0.5em;
        display: inline-block;
        box-sizing: content-box;
        border-right: solid  1px var(--Primary);
    }
}
#ContainerTemporada{
    
    select{
        margin:  1em auto;
        display: block;
        width: 200px;
        font-size: 1.1em;
    }
}
#ContainerEpisodios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    .erro{
        text-align: center;
        padding: 1em 3em;
        font-size: 1.1em;
        margin: 0px auto;
        width: auto;
        border-radius: 10px;
        grid-column: span 2;
        background-color: var(--Dark);
    }
}
.DesEpisodio{ 
    background-color: var(--Dark);
    border-radius: 10px;
    padding: 20px;
 
    h4{
        margin-bottom: 0;
    }
    small{
        font-style: italic;
        margin-top: 0;
    }
    p{
        margin: 10px 0;
        font-size: 0.95em;
    }
    .Observacao{
        font-size: 1.05em;
        margin-bottom:0;
    }
}
@media screen  and (max-width: 700px) {
    :root{
        font-size: 18px;
    }
    header{
        position: static;
        section{
            flex-direction: column;
        } 
    } 
    #SearchBar{
        margin: 10px; 
    } 
    main, header section{
        padding: 20px;
    }
    
    .CardSerie .Categorias{
        font-size: 1em;
    }
    #CapaSerie{
        height: auto;
        figure,.Descricao{ 
            width: 100%;
        }
    }
    #NavMenu a{
        font-size:0.85em;

    }
    #ContainerEpisodios{
        grid-template-columns: 1fr;
    }
    @media (orientation: landscape){
        .CardSerie{
            width: calc(50vw - 42px);
        }
    }
}

