<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script defer src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script defer src="script/Main.js"></script>
	<script defer src="script/serie.js"></script>
	<title>Document</title>
</head>
<body>
<div  id="Serie">
	<app-header></app-header>
	<main>
		<banner v-bind:serie="Serie"></banner>
		<section id="NavMenu">
			<a href="#TituloSinpse">Sinopse</a>
			<a href="#TituloEpisodios">Temporadas e Episodios</a>
		</section>
		<section>
			<h2 id="TituloSinpse">Sinopse</h2>
			<p id="Sinopse">{{Serie.Sinopse}}</p>
		</section>
		<section id="ContainerTemporada">
			<h2 id="TituloEpisodios">Temporada</h2>
			<select name="example" id="SelecTemporada" v-model="Temporada"><option v-for="i in Temporadas" v-bind:value="i">{{i}}º Tempoarada</option></select>
			<div id="ContainerEpisodios">  
				<card-episodio v-for="E in Serie.Episodios" v-if="E.Temporada == Temporada" v-bind:episodio="E" ></card-episodio>
			</div>
		</section>
	</main>
</div>
</body>
</html>