* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--PrimaryContrast);
  --Primary: #e51010;
  --PrimaryDark: #ac0101;
  --PrimaryContrast: white;
  --Dark: #090909;
  --DarkRed: #290909;
  --SoftDarkContrast: #eee;
  --SoftDark: #111;
  --SoftDarkRed: #211;
  --Link:#1aefef;
}

::-webkit-scrollbar {
  width: 20px;
  background: var(--SoftDark);
}

::-webkit-scrollbar-thumb {
  -webkit-transition: background 0.1s 10s linear;
  transition: background 0.1s 10s linear;
  background: var(--Primary);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--PrimaryDark);
}

a {
  color: inherit;
  width: inherit;
  text-decoration: inherit;
}

a:hover *, a:hover {
  color: var(--Link);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
  color: var(--SoftDarkContrast);
  margin: 1em 0 0.5em 0;
  padding-bottom: 0.2em;
  border-bottom: var(--Primary) 2px solid;
}

h4 {
  font-size: 1.1em;
}

select {
  background-color: transparent;
  color: inherit;
  border: solid 2px var(--Primary);
  padding: 0.2em 0.5em;
  border-radius: 3px;
}

option {
  background-color: var(--Dark);
}

body {
  background-color: var(--SoftDarkRed);
}

header {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 4;
  background-color: var(--Dark);
  width: 100%;
}

header section {
  max-width: 1000px;
  margin: auto;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section img, header section figure {
  height: 50px;
}

header section figure {
  margin: 0;
}

#SearchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: var(--Primary) solid;
  border-radius: 30px;
}

#SearchBar input[type="search"] {
  background-color: transparent;
  color: var(--SoftDarkContrast);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 150px;
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border: none;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

#SearchBar input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

#SearchBar .material-icons {
  color: var(--SoftDarkContrast);
  margin: 0.3rem;
  cursor: pointer;
  background: transparent;
  border: none;
}

main {
  background-color: var(--SoftDark);
  padding: 30px;
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
}

#SecSeries {
  color: var(--SoftDarkContrast);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.CardSerie {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 6px;
}

.CardSerie figure, .CardSerie img {
  width: inherit;
  height: 200px;
}

.CardSerie img {
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.CardSerie img:hover {
  opacity: 0.7;
}

.CardSerie .Descricao {
  border-radius: 0 0 10px 10px;
  padding: 10px;
  width: inherit;
  background-color: var(--Dark);
  min-height: 100px;
}

.CardSerie .Titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CardSerie .Categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 9px 0;
  font-size: 0.9em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.CardSerie .Categorias * {
  font-size: 1em;
  background: var(--Primary);
  border-radius: 20px;
  padding: 0.1em 0.5em;
  margin: 5px 6px;
}

.CardSerie .Categorias *:hover {
  opacity: 0.8;
  cursor: pointer;
}

#CapaSerie {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#CapaSerie img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#CapaSerie figure {
  height: 340px;
  width: calc( 100% - 340px);
}

#CapaSerie .Descricao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--Primary);
  width: 340px;
  height: 340px;
  text-align: center;
}

#CapaSerie .Descricao h1 {
  margin-bottom: 1em;
}

#CapaSerie .Descricao p {
  margin: 3px;
  font-size: 1.1em;
}

#NavMenu {
  background-color: var(--Dark);
  padding: 5px;
}

#NavMenu a {
  font-size: 1.2em;
  padding: 0.5em;
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-right: solid 1px var(--Primary);
}

#ContainerTemporada select {
  margin: 1em auto;
  display: block;
  width: 200px;
  font-size: 1.1em;
}

#ContainerEpisodios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

#ContainerEpisodios .erro {
  text-align: center;
  padding: 1em 3em;
  font-size: 1.1em;
  margin: 0px auto;
  width: auto;
  border-radius: 10px;
  grid-column: span 2;
  background-color: var(--Dark);
}

.DesEpisodio {
  background-color: var(--Dark);
  border-radius: 10px;
  padding: 20px;
}

.DesEpisodio h4 {
  margin-bottom: 0;
}

.DesEpisodio small {
  font-style: italic;
  margin-top: 0;
}

.DesEpisodio p {
  margin: 10px 0;
  font-size: 0.95em;
}

.DesEpisodio .Observacao {
  font-size: 1.05em;
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  :root {
    font-size: 18px;
  }
  header {
    position: static;
  }
  header section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #SearchBar {
    margin: 10px;
  }
  main, header section {
    padding: 20px;
  }
  .CardSerie .Categorias {
    font-size: 1em;
  }
  #CapaSerie {
    height: auto;
  }
  #CapaSerie figure, #CapaSerie .Descricao {
    width: 100%;
  }
  #NavMenu a {
    font-size: 0.85em;
  }
  #ContainerEpisodios {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
  .CardSerie {
    width: calc(50vw - 42px);
  }
}
/*# sourceMappingURL=style.css.map */